<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Centrocar — Erreur 404</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body class="nFound">
	<div class="content">
		<h1>404</h1>
		<p>La page que vous avez demandée n'a pu être trouvée.</p>
	</div>
</body>
</html>