<!DOCTYPE html>
<html>

<head>
    <title>Feedme</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/sweet-alert.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/sweet-alert.css">
    <script src="/socket.io/socket.io.js"></script>
    <style type="text/css">
    html {
        height: 100%;
    }
    body {
        height: 100%;
        font-family: "open sans", "helvetica neue";
        font-weight: 300;
        margin: 0;
        background: url('./images/bg.jpg') no-repeat no-repeat center center fixed;
        background-size: cover;
    }
    a, .nav {
        transition:0.3s;
    }
    * {
        box-sizing:border-box;
    }
    .overlay {
        background:rgba(0, 0, 0, 0.5);
        height: 90%;
    }
    .intro {
        width: 1170px;
        margin: auto;
        height:100%;
        color: #fff;
        position: relative;
    }
    .intro div.over {
        position: absolute;
        top: 50%;
        margin-top: -125px;
        height: 250px;
        width: 800px;
    }
    .features {
        background: #fff;
        padding: 1em;
    }
    .intro h1 {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 48px;
        line-height: 55px;
    }
    .intro p {
        margin-bottom: 40px;
        font-size: 21px;
    }
    .btn {
        text-decoration: none;
        padding: 1em;
        color: #fff;
        border: 2px solid #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        border-radius: 3px;
        margin-right: 20px;
    }
    .btnPrimary {
        background: rgb(230, 50, 50);
        border-color: rgb(230, 50, 50);
    }
    .btnPrimary:hover {
        color: rgb(230, 50, 50) !important;
        border-color: #fff;
    }
    .btn:hover {
        color: #555;
        background: #fff;
    }
    .nav {
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        padding: 2em;
        z-index: 1000;
    }
    .nav div {
        width: 1170px;
        margin: auto;
    }
    .nav a {
        text-decoration: none;
        color: #fff;
    }
    .nav.active {
        background: rgba(53, 58, 67, 0.96);
        padding: 1.5em;
    }
    .brand {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .features div {
        width: 1170px;
        margin: auto;
    }
    .features div.feature {
        width: 33.3%;
        margin-right: -4px;
        display: inline-block;
        text-align: center;
        padding: 2em;
    }
    .feature h2 {
        font-size: 23px;
        line-height: 32px;
        font-weight: 400;
        color: #353535;
    }
    .feature p {
        color: #727272;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }
    .feature .nbr {
        font-style: normal;
        font-size: 40px;
        background: #ddd;
        color: #555;
        padding: 3px 18px 3px 18px;
        border-radius: 50%;
    }
    </style>
</head>

<body>
    <div class="nav">
        <div>
            <a href="#" class="brand">Feedme</a>
        </div>
    </div>
    <div class="overlay">
        <div class="intro">
            <div class="over">
                <h1>Finalement Paris et la campagne ne sont pas si éloignées</h1>
                <p>Vos produits frais de producteurs locaux livrés chez vous gratuitement.</p>
                <div class="controls">
                    <a href="#" class="btn"><i class="fa fa-play"></i> Voir la vidéo</a><a href="courses" class="btn btnPrimary">Commencer mes courses</a>
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div>
            <div class="feature">
                <i class="nbr">1</i>
                <h2>Ils produisent</h2>
                <p>Nos producteurs sélectionnés cultivent vos produits frais dans leurs terres d'Ile de France.</p>
            </div>
            <div class="feature">
                <i class="nbr">2</i>
                <h2>Nous centralisons</h2>
                <p>Vos produits sont regroupé des différentes fermes jusque dans notre entrepot où ils sont conservés avec attention.</p>
            </div>
            <div class="feature">
                <i class="nbr">3</i>
                <h2>Nous vous livrons</h2>
                <p>Vous nous passez notre commande, nous emballons la marchandise qui vous est livrée jusqu'à votre porte... gratuitement.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).on('scroll', function() {
        if($(document).scrollTop() > 100) $('.nav').addClass('active');
        else $('.nav').removeClass('active');
    });
    </script>
</body>

</html>